h2{
  color: #1d2e2e;
}

h3{
  color:#1d2e2e;
}

p{
    /*color: #3C3C3C;*/
    color: #333333;
}

ul{
    /*color: #3C3C3C;*/
    color: #2f3e3c;
}

.conan{
    background-color: blueviolet;
}

a.jessielink{
    padding: 0px 18px;
    margin: 0px 0px 0px 5px;
    border-radius: 50px;
    color:	#66a79b;
}

a.jessielink:hover{
    background-color:#66b2b2;
    color: white;
}

a.jessielink2{
    color:	#339999;
    text-decoration: none;
}

div.jessiedivgrey{
    background-color: #e9f2ef;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
    border: 2px solid #b8ccc7;
}

h4.jessiesmallh4{
    font-size: 20px;
    color: #408080;
}


.simon{
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    margin: 15px 15px;
    border-radius: 10px;

}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.aboutmebg{
    background-image: url("../assets/img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jessieserif{
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
}

.jessiecenter{
    text-align: center;
}

.jessiehl{
    color: rgb(238, 255, 0);
}

.p20{
    padding: 20px;
}

.amdiv{
    width: 85%;
}

.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;       /* 圓形 */
    border: none;
    background-color: 	#408080;
    color: white;
    font-size: 28px;
    line-height: 50px;        /* 讓箭頭垂直置中 */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .backToTop:hover {
    background-color:#336666;

  }

  .white{
    color: white;
  }

  table.worktable{
    width: 100%;
    background-color:#f2f7f7;
    border-collapse: collapse;
    color: #2a2a2a;
  }

  table.worktable td{
    border: 1px solid 	#c0d2d2;
    padding: 15px;
  }

  table.worktable th{
    color: white;
    background-color: #408080;
    border: 1px solid 	#c0d2d2;
    padding: 15px;
  }

  table.worktable tr:hover {
  background-color: #e0eeee; 
}

.card-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.embed-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 比例 */
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.embed-video a,
.embed-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 填滿且裁切 */
  display: block;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  text-decoration: none;
}

.time{
  color: #587d77;
}

.namejessie{
  color:	#5e8b8b;
}